/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* COLOURS */
img.flush {
  width: 100%;
  height: auto; }

.kill-padding {
  padding: 0; }

.kill-padding-top {
  padding-top: 0; }

.kill-padding-bottom {
  padding-bottom: 0; }

.kill-padding-right {
  padding-right: 0; }

.kill-padding-left {
  padding-left: 0; }

.kill-margin {
  margin: 0; }

.kill-margin-top {
  margin-top: 0; }

.kill-margin-bottom {
  margin-bottom: 0; }

.pad {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.padding-top {
  padding-top: 1rem; }

.padding-bottom {
  padding-bottom: 1rem; }

.padding-1_5x {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.padding-top-1_5x {
  padding-top: 1.5rem; }

.padding-bottom-1_5x {
  padding-bottom: 1.5rem; }

.padding-2x {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padding-top-2x {
  padding-top: 2rem; }

.padding-bottom-2x {
  padding-bottom: 2rem; }

.padding-3x {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.padding-top-3x {
  padding-top: 3rem; }

.padding-bottom-3x {
  padding-bottom: 3rem; }

.padding-4x {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.padding-top-4x {
  padding-top: 4rem; }

.padding-bottom-4x {
  padding-bottom: 4rem; }

.padding-5x {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.padding-top-5x {
  padding-top: 5rem; }

.padding-bottom-5x {
  padding-bottom: 5rem; }

.padding-6x {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.padding-top-6x {
  padding-top: 6rem; }

.padding-bottom-6x {
  padding-bottom: 6rem; }

.padding-7x {
  padding-top: 7rem;
  padding-bottom: 7rem; }

.padding-top-7x {
  padding-top: 7rem; }

.padding-bottom-7x {
  padding-bottom: 7rem; }

.padding-8x {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.padding-top-8x {
  padding-top: 8rem; }

.padding-bottom-8x {
  padding-bottom: 8rem; }

.padding-9x {
  padding-top: 9rem;
  padding-bottom: 9rem; }

.padding-top-9x {
  padding-top: 9rem; }

.padding-bottom-9x {
  padding-bottom: 9rem; }

.padding-10x {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.padding-top-10x {
  padding-top: 10rem; }

.padding-bottom-10x {
  padding-bottom: 10rem; }

.margin {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin-left {
  margin-left: 1rem; }

.margin-top {
  margin-top: 1rem; }

.margin-bottom {
  margin-bottom: 1rem; }

.margin-1_5x {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.margin-top-1_5x {
  margin-top: 1.5rem; }

.margin-bottom-1_5x {
  margin-bottom: 1.5rem; }

.margin-2x {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin-top-2x {
  margin-top: 2rem; }

.margin-bottom-2x {
  margin-bottom: 2rem; }

.margin-3x {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.margin-top-3x {
  margin-top: 3rem; }

.margin-bottom-3x {
  margin-bottom: 3rem; }

.margin-4x {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.margin-top-4x {
  margin-top: 4rem; }

.margin-bottom-4x {
  margin-bottom: 4rem; }

.margin-6x {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.margin-top-6x {
  margin-top: 6rem; }

.margin-bottom-6x {
  margin-bottom: 6rem; }

.margin-7x {
  margin-top: 7rem;
  margin-bottom: 7rem; }

.margin-top-7x {
  margin-top: 7rem; }

.margin-bottom-7x {
  margin-bottom: 7rem; }

.margin-8x {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.margin-top-8x {
  margin-top: 8rem; }

.margin-bottom-8x {
  margin-bottom: 8rem; }

.margin-9x {
  margin-top: 9rem;
  margin-bottom: 9rem; }

.margin-top-9x {
  margin-top: 9rem; }

.margin-bottom-9x {
  margin-bottom: 9rem; }

.margin-10x {
  margin-top: 10rem;
  margin-bottom: 10rem; }

.margin-top-10x {
  margin-top: 10rem; }

.margin-bottom-10x {
  margin-bottom: 10rem; }

.color-inherit {
  color: inherit; }

.fa + .fa {
  margin-left: 1rem; }

* {
  -webkit-font-smoothing: antialiased; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
.wf-loading {
  opacity: 0;
  -webkit-transition: opacity 125ms;
  transition: opacity 125ms; }

.wf-active {
  opacity: 1;
  -webkit-transition: opacity 125ms;
  transition: opacity 125ms; }

.wf-inactive {
  opacity: 1;
  -webkit-transition: opacity 125ms;
  transition: opacity 125ms; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
::-moz-selection {
  background-color: #404040;
  color: white; }

::selection {
  background-color: #404040;
  color: white; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
html {
  font-size: 10px;
  line-height: 1.75; }

body {
  font-size: 1.6rem;
  line-height: inherit; }

/* -------------------------------------------------- */
.page-title {
  font-size: 6rem;
  line-height: 1; }

li {
  font-family: 'Indie Flower', cursive; }

h1 {
  font-size: 7rem;
  font-family: 'Indie Flower', cursive;
  color: white;
  line-height: 1.4; }

h2 {
  font-size: 4rem;
  font-family: 'Indie Flower', cursive;
  color: #1F1F1F;
  line-height: 1.4; }

h3 {
  font-size: 2.3rem;
  font-family: 'Indie Flower', cursive;
  color: #292929; }

h4 {
  font-size: 2.5rem;
  font-family: 'Indie Flower', cursive;
  color: #1F1F1F;
  line-height: 1.4; }

h5 {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  color: #1F1F1F;
  line-height: 1.4; }

h6 {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  color: #1F1F1F;
  line-height: 1.4; }

p {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: #292929;
  line-height: 1.2; }

a {
  text-decoration: none; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
body {
  font-weight: 300; }

.page-title {
  font-weight: 900; }

h1 {
  font-weight: 400; }

h2 {
  font-weight: 400; }

h3 {
  font-weight: 400; }

h4 {
  font-weight: 400; }

h5 {
  font-weight: 400; }

h6 {
  font-weight: 400; }

p {
  font-weight: 300; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
.page-title {
  margin-bottom: 1em; }

ul, ol {
  margin-bottom: 2em; }

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: 3rem; }

p + p {
  margin-top: 1em; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
hr {
  margin-top: 2rem;
  margin-bottom: 2rem; }

:hover {
  text-decoration: none !important; }

.row.nav ul {
  margin: 1rem 0;
  padding: 0; }
  .row.nav ul li {
    display: inline;
    line-height: 1; }
  .row.nav ul li + li {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid; }

header.navigation {
  background-color: #F5F5F5;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 55px;
  border-bottom: 1px solid #BFBFBF;
  /* mobile */ }
  @media (min-width: 992px) {
    header.navigation {
      height: 95px; } }
  header.navigation .social-nav-wrapper {
    height: 40px;
    position: relative;
    background-color: #acc7dc; }
  header.navigation .primary-nav {
    padding: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header.navigation .primary-nav .nav-heading {
      font-size: 2rem;
      padding: 0 1rem;
      color: #1F1F1F; }
    header.navigation .primary-nav ul {
      margin: 0;
      padding: 0;
      display: none;
      font-weight: 700; }
      @media (min-width: 768px) {
        header.navigation .primary-nav ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; } }
      header.navigation .primary-nav ul li a {
        font-size: 2rem;
        font-family: 'Indie Flower', cursive;
        font-weight: 400;
        padding: 0 1rem;
        color: #1F1F1F;
        moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
        header.navigation .primary-nav ul li a:hover {
          color: #e4af9d;
          moz-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }
    header.navigation .primary-nav h3 a {
      color: #1F1F1F; }
      header.navigation .primary-nav h3 a:hover {
        color: #e4af9d; }
  header.navigation .social-media {
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: inline-block; }
    @media (min-width: 992px) {
      header.navigation .social-media {
        margin: 0;
        display: block;
        float: right; } }
    header.navigation .social-media .icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-right: 2rem; }
      header.navigation .social-media .icons a i {
        padding: 1rem 0;
        margin-left: 1rem;
        font-size: 20px;
        color: #1F1F1F;
        moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
        header.navigation .social-media .icons a i:hover {
          color: #acc7dc;
          moz-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }
          @media (min-width: 992px) {
            header.navigation .social-media .icons a i:hover {
              color: #e4af9d; } }
  header.navigation .overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #e4af9d;
    opacity: 0.95;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    header.navigation .overlay .overlay-content {
      position: relative;
      top: 5%;
      width: 100%;
      text-align: center;
      margin-top: 30px; }
      header.navigation .overlay .overlay-content ul li a {
        color: #1F1F1F; }
        header.navigation .overlay .overlay-content ul li a:hover {
          color: #acc7dc; }
    header.navigation .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    header.navigation .overlay .closebtn {
      position: absolute;
      top: -11px;
      left: 12px;
      font-size: 40px;
      padding: 0;
      color: #1F1F1F; }
      header.navigation .overlay .closebtn:hover, header.navigation .overlay .closebtn:focus {
        cursor: pointer;
        color: #acc7dc; }
  header.navigation .mobile-menu-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header.navigation .mobile-menu-wrap .menu-burger {
      padding-left: 1rem;
      color: #1F1F1F; }
      header.navigation .mobile-menu-wrap .menu-burger:hover, header.navigation .mobile-menu-wrap .menu-burger:focus {
        cursor: pointer;
        color: #e4af9d; }
    header.navigation .mobile-menu-wrap .nav-heading a {
      padding-right: 1rem;
      color: #1F1F1F; }
      header.navigation .mobile-menu-wrap .nav-heading a:hover, header.navigation .mobile-menu-wrap .nav-heading a:focus {
        cursor: pointer;
        color: #e4af9d; }
header.headroom--unpinned {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  background-color: transparent;
  -webkit-transition: #BFBFBF 0.5s ease-in-out;
  transition: #BFBFBF 0.5s ease-in-out;
  border-bottom: 1px solid transparent; }
header.headroom--pinned {
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background-color: transparent;
  opacity: 0.9;
  background-color: #F5F5F5; }
  header.headroom--pinned:hover, header.headroom--pinned:focus {
    opacity: 1; }

/*! Flickity v1.2.1
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  filter: alpha(opacity=60);
  /* IE8 */
  opacity: 0.6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  /* IE8 */
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25);
  /* IE8 */
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100);
  /* IE8 */
  opacity: 1; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
section.top-section {
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh; }
  section.top-section .main-heading {
    margin-top: 25vh;
    text-align: center;
    line-height: 1.4; }
    section.top-section .main-heading h1 {
      font-size: 4rem; }
      @media (min-width: 992px) {
        section.top-section .main-heading h1 {
          font-size: 7rem; } }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
.blog-carousel {
  margin: 0 auto;
  display: block;
  max-width: 100rem; }
  .blog-carousel .blog-info-wrap {
    text-align: center;
    width: calc(100% - 2%);
    margin-right: 2%;
    background-color: grey; }
    @media (min-width: 480px) {
      .blog-carousel .blog-info-wrap {
        width: calc(50% - 2%); } }
    @media (min-width: 992px) {
      .blog-carousel .blog-info-wrap {
        width: calc(33.33% - 2%); } }
    .blog-carousel .blog-info-wrap .blog-info-content {
      text-align: center;
      vertical-align: middle;
      outline: 1px solid white;
      outline-offset: -15px;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .blog-carousel .blog-info-wrap .blog-info-content:hover {
        outline: 1px solid white;
        outline-offset: -25px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
      .blog-carousel .blog-info-wrap .blog-info-content h3 {
        color: white;
        z-index: 10;
        line-height: 1.4;
        margin: 0 auto;
        max-width: 85%;
        background-color: #BFBFBF;
        opacity: 0.8;
        font-weight: 600; }
      .blog-carousel .blog-info-wrap .blog-info-content a:hover {
        text-decoration: none; }

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent; }

/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #e4af9d; }

.flickity-prev-next-button.no-svg {
  color: #e4af9d; }

.flickity-prev-next-button.previous {
  left: -100px !important; }

.flickity-prev-next-button.next {
  right: -80px !important; }

.flickity-prev-next-button:hover {
  background: transparent; }

/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none; }

#mapdiv {
  width: 100%;
  height: 80vh;
  animation: fadein 5s;
  -moz-animation: fadein 5s;
  /* Firefox */
  -webkit-animation: fadein 5s;
  /* Safari and Chrome */
  -o-animation: fadein 5s;
  /* Opera */ }

.map-wrap {
  font-family: 'Indie Flower', cursive;
  width: 100%;
  height: 65vh;
  background-color: #F5F5F5; }

.amcharts-chart-div a {
  display: none !important; }
.amcharts-chart-div [aria-label] {
  font-family: 'Indie Flower', cursive; }

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  color: #1F1F1F;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 0;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease; }

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s; }

a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #1F1F1F;
  text-shadow: none; }

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%; }

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  color: #1F1F1F;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease; }

a.animated-button.filter-button {
  border: 2px solid #e4af9d;
  padding: 1rem 2rem;
  margin: 0 1rem;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 300; }
  @media (min-width: 768px) {
    a.animated-button.filter-button {
      padding: 1rem 1rem; } }
  @media (min-width: 992px) {
    a.animated-button.filter-button {
      padding: 1rem 2rem; } }

a.animated-button.filter-button:after {
  background: #e4af9d;
  opacity: .5;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg); }

a.animated-button.filter-button:hover:after {
  opacity: 1;
  height: 600% !important; }

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  color: #1F1F1F;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 0;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease; }

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s; }

a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #1F1F1F;
  text-shadow: none; }

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%; }

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  color: #1F1F1F;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease; }

a.animated-button.all-blogs {
  border: 2px solid #e4af9d;
  padding: 1rem 2rem;
  margin: 0 1rem;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  line-height: 1.2;
  font-weight: 300; }
  @media (min-width: 768px) {
    a.animated-button.all-blogs {
      padding: 1rem 1rem; } }
  @media (min-width: 992px) {
    a.animated-button.all-blogs {
      padding: 1rem 2rem; } }

a.animated-button.all-blogs:after {
  background: #e4af9d;
  opacity: .5;
  width: 100%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg); }

a.animated-button.all-blogs:hover:after {
  opacity: 1;
  height: 1000% !important; }

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  color: #1F1F1F;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 0;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease; }

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s; }

a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #1F1F1F;
  text-shadow: none; }

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%; }

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  color: #1F1F1F;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease; }

a.animated-button.insta-button {
  border: 2px solid #acc7dc;
  padding: 1rem 2rem;
  margin: 0 1rem;
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
  line-height: 1.2;
  font-weight: 300; }
  @media (min-width: 768px) {
    a.animated-button.insta-button {
      padding: 1rem 1rem; } }
  @media (min-width: 992px) {
    a.animated-button.insta-button {
      padding: 1rem 2rem; } }

a.animated-button.insta-button:after {
  background: #acc7dc;
  opacity: .5;
  width: 100%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg); }

a.animated-button.insta-button:hover:after {
  opacity: 1;
  height: 1000% !important; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
@media (min-width: 1500px) {
  .container {
    width: 1470px; } }
html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #F5F5F5; }

.home {
  margin-bottom: 0 !important; }

section + section {
  padding-bottom: 4rem; }

/*
----------------------
 double line headings
 --------------------- */
.fancy {
  line-height: 0.5;
  text-align: center; }

.fancy span {
  display: inline-block;
  position: relative; }

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #1F1F1F;
  border-top: 1px solid #1F1F1F;
  top: 5px;
  width: 100%; }

.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.fancy span:after {
  left: 100%;
  margin-left: 15px; }

/* 
------------------------
hr edits for dividers
------------------------
 */
hr {
  border-top: 1px solid #292929;
  width: 30%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

/* 
-------------------------
back to top styles 
-------------------------*/
#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 2;
  /* Make sure it does not overlap */
  border: transparent;
  outline: none;
  /* Remove outline */
  background-color: black;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 1.5rem 2rem;
  /* Some padding */
  width: 50px;
  height: 50px;
  moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.8; }
  #myBtn i {
    font-size: 22px;
    color: #acc7dc;
    position: absolute;
    left: 13px;
    bottom: 13px;
    moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

#myBtn:hover {
  moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #myBtn:hover i {
    font-size: 22px;
    color: #e4af9d;
    position: absolute;
    left: 13px;
    bottom: 20px;
    moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

img {
  outline: 1px solid white;
  outline-offset: -15px;
  border: 5px solid #d6d6d6;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }

/*---------------------------------------------------
 Social Share Styling 
-------------------------------------------------- */
.social-share-wrapper {
  position: fixed;
  height: 100%;
  left: 5px;
  top: 70%;
  z-index: 10; }
  .social-share-wrapper a i {
    font-size: 20px;
    margin: 1rem 0 0 0.5rem;
    background: #acc7dc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    padding: 10px;
    color: #1F1F1F;
    moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .social-share-wrapper a i:hover {
    color: #e4af9d;
    moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

.social-share-wrapper-mobile {
  padding: 2rem 0 4rem 1rem; }
  .social-share-wrapper-mobile a i {
    font-size: 20px;
    margin: 1rem 0 0 0.5rem;
    background: #acc7dc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    padding: 10px;
    color: #1F1F1F;
    z-index: 2;
    moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .social-share-wrapper-mobile a i:hover {
    color: #e4af9d;
    moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

/*------------------------------------------------------
 Appear on scroll
 -----------------------------------------------------*/
.hideme {
  opacity: 0; }

/*----------------------------------------------------
Disqus comments
----------------------------------------------------*/
#disqus_thread {
  width: 70%;
  display: block;
  margin: 4rem auto;
  background-color: #acc7dc;
  padding: 2rem; }

section {
  /*-----------------------------------
   Front Page 
   -------------------------------------*/
  /* End Front Page */
  /* --------------------------------------------------
  About Us 
  ----------------------------------------------------*/
  /* Contact Page */
  /* Instagram section */ }
  section.map-section {
    padding-top: 10rem;
    background-color: #F5F5F5; }
    section.map-section .scroll-down {
      text-align: center;
      height: 100%; }
      section.map-section .scroll-down a {
        animation: fadein 5s;
        -moz-animation: fadein 5s;
        /* Firefox */
        -webkit-animation: fadein 5s;
        /* Safari and Chrome */
        -o-animation: fadein 5s;
        /* Opera */
        color: #1F1F1F;
        font-size: 25px; }
        section.map-section .scroll-down a:hover, section.map-section .scroll-down a:active, section.map-section .scroll-down a:visited, section.map-section .scroll-down a:focus {
          text-decoration: none !important; }
        section.map-section .scroll-down a:hover {
          color: #e4af9d; }
    section.map-section .bounce {
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite; }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }
  section.front-page-main {
    padding: 0 0 6rem 0;
    background-color: #F5F5F5; }
    section.front-page-main .city-blog-image-fp {
      margin-bottom: 3rem; }
      section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp {
        width: calc(100%); }
        @media (min-width: 480px) {
          section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp {
            width: calc(100% - 2%); } }
        @media (min-width: 992px) {
          section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp {
            width: calc(50% - 2%); } }
        @media (min-width: 1200px) {
          section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp {
            width: calc(50% - 2%); } }
        section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp .blog-image-single-fp img {
          border: none;
          box-shadow: none; }
        section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp {
          border: 1px solid #D6D6D6;
          padding: 2rem 1rem; }
          section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp a h3:hover {
            color: #e4af9d; }
          section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp h3 {
            text-align: center;
            line-height: 1.4;
            padding-bottom: 1rem; }
          section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp .text p {
            font-size: 1.4rem;
            font-weight: 400;
            padding: 1rem 0 2rem 0; }
          section.front-page-main .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp .city-blog-extras-fp p {
            font-style: italic;
            color: #BFBFBF; }
    section.front-page-main .main-image-us-fp {
      margin: 3rem 0; }
      section.front-page-main .main-image-us-fp img {
        display: block;
        margin: 0 auto;
        width: 70%;
        outline: 1px solid white;
        outline-offset: -15px;
        border: 5px solid #d6d6d6;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
    section.front-page-main .content-us-fp {
      width: 100%;
      margin: 2rem auto 0 auto; }
      @media (min-width: 768px) {
        section.front-page-main .content-us-fp {
          width: 90%; } }
      section.front-page-main .content-us-fp h2 {
        margin-bottom: 1rem;
        text-align: center; }
      section.front-page-main .content-us-fp .text-content {
        margin-top: 4rem;
        width: 100%;
        text-align: center; }
    section.front-page-main .stats-section {
      position: relative;
      display: block;
      text-align: center; }
      section.front-page-main .stats-section h3 {
        font-size: 3rem;
        padding-top: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300; }
      section.front-page-main .stats-section i {
        font-size: 10rem;
        padding-top: 4rem; }
      section.front-page-main .stats-section span {
        color: #e4af9d; }
      section.front-page-main .stats-section .spacing {
        padding-bottom: 4rem; }
      section.front-page-main .stats-section .where-moldova-text {
        font-size: 2rem;
        color: #e4af9d; }
      section.front-page-main .stats-section .follow-us {
        padding-top: 4rem; }
        section.front-page-main .stats-section .follow-us a {
          font-size: 5rem;
          color: #1F1F1F;
          moz-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }
          section.front-page-main .stats-section .follow-us a:hover {
            color: #e4af9d;
            moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s; }
        section.front-page-main .stats-section .follow-us a + a {
          padding: 3rem 0 0 3rem; }
  section.front-page-view-all .view-all-blogs {
    width: 100%;
    margin: 4rem auto 0 auto; }
    @media (min-width: 768px) {
      section.front-page-view-all .view-all-blogs {
        width: 50%; } }
    @media (min-width: 992px) {
      section.front-page-view-all .view-all-blogs {
        width: 20%; } }
  section.about-section {
    padding: 12rem 0 4rem 0;
    position: relative;
    height: 100%; }
    section.about-section .about-section-one-wrapper {
      background-color: #acc7dc;
      height: 100%;
      position: relative; }
      @media (min-width: 992px) {
        section.about-section .about-section-one-wrapper {
          height: 400px; } }
      section.about-section .about-section-one-wrapper .about-section-one-text {
        width: 100%;
        padding: 1rem; }
        @media (min-width: 992px) {
          section.about-section .about-section-one-wrapper .about-section-one-text {
            width: 80%;
            padding: 4rem; } }
      section.about-section .about-section-one-wrapper .about-section-one-image {
        z-index: 1;
        margin-top: 0;
        margin-right: 0;
        padding: 0; }
        @media (min-width: 992px) {
          section.about-section .about-section-one-wrapper .about-section-one-image {
            margin-top: -2rem;
            margin-right: 2rem; } }
    section.about-section .about-section-two-wrapper {
      background-color: #e4af9d;
      z-index: -1;
      margin-top: 0; }
      @media (min-width: 992px) {
        section.about-section .about-section-two-wrapper {
          margin-top: 5rem; } }
      section.about-section .about-section-two-wrapper .about-section-two-text {
        width: 100%;
        padding: 1rem; }
        @media (min-width: 992px) {
          section.about-section .about-section-two-wrapper .about-section-two-text {
            width: 80%;
            padding: 4rem; } }
    section.about-section .about-section-three-wrapper {
      height: 100%;
      position: relative; }
      section.about-section .about-section-three-wrapper .about-section-three-image-one {
        margin-top: 1rem; }
        @media (min-width: 992px) {
          section.about-section .about-section-three-wrapper .about-section-three-image-one {
            margin-top: 4rem; } }
      section.about-section .about-section-three-wrapper .about-section-three-image-two {
        margin-top: 1rem; }
        @media (min-width: 992px) {
          section.about-section .about-section-three-wrapper .about-section-three-image-two {
            margin-top: -4rem; } }
    section.about-section .about-section-four-wrapper {
      height: 100%;
      background-color: #acc7dc;
      z-index: -1;
      position: relative; }
      @media (min-width: 992px) {
        section.about-section .about-section-four-wrapper {
          height: 400px; } }
      section.about-section .about-section-four-wrapper .about-section-four-image {
        z-index: 1;
        margin-top: 1rem;
        margin-left: 0; }
        @media (min-width: 992px) {
          section.about-section .about-section-four-wrapper .about-section-four-image {
            margin-top: -1rem;
            margin-left: 4rem; } }
      section.about-section .about-section-four-wrapper .about-section-four-text {
        padding: 1rem; }
        @media (min-width: 992px) {
          section.about-section .about-section-four-wrapper .about-section-four-text {
            padding: 10rem 4rem 0 4rem; } }
    section.about-section .about-section-five-wrapper {
      background-color: #e4af9d;
      height: 100%;
      z-index: -2;
      position: relative;
      margin-top: 0; }
      @media (min-width: 992px) {
        section.about-section .about-section-five-wrapper {
          margin-top: 5rem; } }
      section.about-section .about-section-five-wrapper .about-section-five-text-one, section.about-section .about-section-five-wrapper .about-section-five-text-two {
        padding: 1rem; }
        @media (min-width: 992px) {
          section.about-section .about-section-five-wrapper .about-section-five-text-one, section.about-section .about-section-five-wrapper .about-section-five-text-two {
            padding: 4rem; } }
      section.about-section .about-section-five-wrapper .about-section-five-image-one, section.about-section .about-section-five-wrapper .about-section-five-image-two, section.about-section .about-section-five-wrapper .about-section-five-image-three {
        padding-top: 1rem; }
        @media (min-width: 992px) {
          section.about-section .about-section-five-wrapper .about-section-five-image-one, section.about-section .about-section-five-wrapper .about-section-five-image-two, section.about-section .about-section-five-wrapper .about-section-five-image-three {
            padding-top: 0; } }
    section.about-section .about-section-six-wrapper {
      position: relative;
      margin-top: 2rem; }
      section.about-section .about-section-six-wrapper .about-section-six-image {
        margin-top: 1rem; }
        @media (min-width: 922px) {
          section.about-section .about-section-six-wrapper .about-section-six-image {
            margin-top: -4rem; } }
      section.about-section .about-section-six-wrapper .about-section-six-text {
        position: absolute;
        top: 10%;
        width: 30%;
        left: 10%;
        background-color: #acc7dc;
        opacity: 0.85;
        padding: 3rem;
        outline: 1px solid #e4af9d;
        outline-offset: -15px; }
      section.about-section .about-section-six-wrapper .about-section-six-text-two {
        padding: 2rem 1rem 2rem 1rem; }
        @media (min-width: 922px) {
          section.about-section .about-section-six-wrapper .about-section-six-text-two {
            padding: 4rem; } }
      section.about-section .about-section-six-wrapper .about-section-six-text-alt {
        padding: 2rem 1rem 2rem 1rem; }
    section.about-section .about-section-seven-wrapper {
      position: relative;
      background-color: #acc7dc;
      margin-top: 1rem;
      z-index: -1; }
      @media (min-width: 992px) {
        section.about-section .about-section-seven-wrapper {
          margin-top: -4rem; } }
      section.about-section .about-section-seven-wrapper .about-section-seven-text {
        position: relative;
        padding: 1rem; }
        @media (min-width: 992px) {
          section.about-section .about-section-seven-wrapper .about-section-seven-text {
            padding: 4rem; } }
      @media (min-width: 992px) {
        section.about-section .about-section-seven-wrapper .about-section-seven-image {
          width: 70%;
          display: block;
          margin: 0 auto;
          z-index: 1; }
          section.about-section .about-section-seven-wrapper .about-section-seven-image img {
            border: 15px solid #e4af9d; } }
      section.about-section .about-section-seven-wrapper .about-section-seven-image .text {
        position: relative;
        width: 30%;
        text-align: center;
        background-color: #acc7dc;
        opacity: 0.8;
        display: block;
        margin: 0 auto;
        margin-top: -10rem; }
    section.about-section .about-section-eight-wrapper {
      background-color: #e4af9d;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      @media (min-width: 992px) {
        section.about-section .about-section-eight-wrapper {
          height: 400px;
          margin: 5rem 0 0 0; } }
      section.about-section .about-section-eight-wrapper .about-section-eight-text {
        width: 100%;
        padding: 1rem; }
        @media (min-width: 992px) {
          section.about-section .about-section-eight-wrapper .about-section-eight-text {
            width: 80%;
            padding: 4rem; } }
      section.about-section .about-section-eight-wrapper .about-section-eight-image {
        z-index: 1;
        margin-top: 0;
        margin-right: 0;
        padding: 0; }
        @media (min-width: 992px) {
          section.about-section .about-section-eight-wrapper .about-section-eight-image {
            margin-top: -2rem;
            margin-right: 2rem; } }
  section.introduction {
    margin-top: 4rem; }
    section.introduction .city-wrap {
      border: 1px solid #d6d6d6;
      padding: 2rem; }
      section.introduction .city-wrap h2 {
        padding-bottom: 2rem; }
      section.introduction .city-wrap .cities {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        section.introduction .city-wrap .cities a h4 {
          margin-left: 2rem;
          color: #1F1F1F;
          font-family: 'Indie Flower', cursive;
          font-weight: 300; }
          section.introduction .city-wrap .cities a h4:hover, section.introduction .city-wrap .cities a h4:focus {
            text-decoration: none;
            color: #e4af9d; }
        section.introduction .city-wrap .cities i {
          font-size: 2rem; }
    section.introduction .fa + .fa {
      margin: 0; }
  section.city .city-content {
    margin-bottom: 4rem; }
  section.country-blog {
    padding: 4rem 0 6rem 0; }
  section.blog-main-section .filter-wrap {
    list-style-type: none;
    text-align: center; }
    @media (min-width: 768px) {
      section.blog-main-section .filter-wrap {
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 992px) {
      section.blog-main-section .filter-wrap {
        max-width: 90%;
        margin: 4rem auto 4rem auto; } }
    @media (max-width: 992px) {
      section.blog-main-section .filter-wrap li {
        padding-bottom: 2rem;
        padding-top: 2rem; } }
  section.blog-main-section .city-blog-image-fp {
    margin-bottom: 3rem; }
    section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp {
      width: calc(100%); }
      @media (min-width: 480px) {
        section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp {
          width: calc(100% - 2%); } }
      @media (min-width: 992px) {
        section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp {
          width: calc(50% - 2%); } }
      @media (min-width: 1200px) {
        section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp {
          width: calc(33.333% - 2%); } }
      section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp .blog-image-single-fp img {
        border: none;
        box-shadow: none; }
      section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp {
        border: 1px solid #D6D6D6;
        padding: 2rem 1rem; }
        section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp a h3:hover {
          color: #e4af9d; }
        section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp h3 {
          text-align: center;
          line-height: 1.4;
          padding-bottom: 1rem; }
        section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp .text p {
          font-size: 1.4rem;
          font-weight: 400;
          padding: 1rem 0 2rem 0; }
        section.blog-main-section .city-blog-image-fp .blog-info-wrap-grid-fp .city-blog-content-fp .city-blog-extras-fp p {
          font-style: italic;
          color: #BFBFBF; }
  section.blog-page {
    height: 70vh; }
    section.blog-page .main-heading {
      margin-top: 25vh;
      text-align: center; }
  section.blog-content .extra {
    margin: 4rem 0 2rem 2rem; }
  section.blog-content .content-wrap {
    display: block;
    margin: 0 auto;
    max-width: 90%; }
    section.blog-content .content-wrap p b {
      font-weight: 600;
      color: #e4af9d; }
    section.blog-content .content-wrap p em {
      font-style: italic; }
    section.blog-content .content-wrap p strong {
      font-weight: 600;
      color: #e4af9d; }
    section.blog-content .content-wrap img {
      display: block;
      margin: 0 auto; }
  section.blog-content .save-pinterest h2 {
    text-align: center;
    padding-bottom: 2rem; }
  section.blog-content .save-pinterest .pinterest-image img {
    margin: 0 auto;
    display: block; }
  section.country-blog h2 {
    text-decoration: none;
    text-align: center;
    margin-bottom: 4rem; }
    section.country-blog h2 a {
      color: #1F1F1F;
      moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      section.country-blog h2 a:hover {
        color: #e4af9d;
        moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
  section.destinations .destination-wrap {
    margin-top: 6rem;
    border: 1px solid #d6d6d6;
    padding: 2rem; }
    section.destinations .destination-wrap .destination-accordion {
      padding-top: 4rem; }
      section.destinations .destination-wrap .destination-accordion .destination-block .destination-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 1rem; }
        section.destinations .destination-wrap .destination-accordion .destination-block .destination-header a h4 {
          margin-left: 2rem;
          color: #1F1F1F;
          font-family: 'Indie Flower', cursive;
          font-weight: 300; }
          section.destinations .destination-wrap .destination-accordion .destination-block .destination-header a h4:hover, section.destinations .destination-wrap .destination-accordion .destination-block .destination-header a h4:focus {
            text-decoration: none;
            color: #e4af9d; }
        section.destinations .destination-wrap .destination-accordion .destination-block .destination-header i {
          font-size: 2rem; }
      section.destinations .destination-wrap .destination-accordion .destination-block .countries {
        margin-left: 4rem; }
  section.destinations .fa + .fa {
    margin: 0; }
  section.contact-form-section {
    position: relative;
    height: 100%;
    margin: 4rem 0; }
    section.contact-form-section .contact-form-wrapper {
      background: #acc7dc;
      padding: 2rem;
      display: table;
      width: 100%;
      position: relative;
      margin: 0 auto; }
      section.contact-form-section .contact-form-wrapper .contact-text {
        padding-bottom: 1rem; }
        @media (min-width: 1200px) {
          section.contact-form-section .contact-form-wrapper .contact-text {
            padding-bottom: 2rem; } }
      section.contact-form-section .contact-form-wrapper .contact-image {
        width: 100%;
        position: relative;
        padding-bottom: 4rem; }
        @media (min-width: 1200px) {
          section.contact-form-section .contact-form-wrapper .contact-image {
            width: 85%;
            padding-bottom: 0; } }
      section.contact-form-section .contact-form-wrapper form {
        width: 100%; }
        @media (min-width: 1200px) {
          section.contact-form-section .contact-form-wrapper form {
            width: 80%; } }
        section.contact-form-section .contact-form-wrapper form label {
          width: 100%; }
        section.contact-form-section .contact-form-wrapper form .wpcf7-text, section.contact-form-section .contact-form-wrapper form .wpcf7-textarea {
          padding: 1rem;
          width: 100%;
          background-color: #F5F5F5;
          outline: none;
          border: none; }
        section.contact-form-section .contact-form-wrapper form .wpcf7-submit {
          width: 100%;
          float: right;
          padding: 2rem 1rem;
          background-color: #e4af9d;
          outline: 1px solid white;
          outline-offset: -5px;
          border: white;
          display: block;
          moz-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }
          @media (min-width: 1200px) {
            section.contact-form-section .contact-form-wrapper form .wpcf7-submit {
              width: 50%; }
              section.contact-form-section .contact-form-wrapper form .wpcf7-submit:hover {
                outline: 1px solid white;
                outline-offset: -10px;
                moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s; } }
  section.instagram {
    padding: 3rem 0;
    background-color: #e4af9d;
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 1; }
    section.instagram .insta-follow {
      width: 100%;
      margin: 4rem auto 0 auto; }
      @media (min-width: 768px) {
        section.instagram .insta-follow {
          width: 60%; } }
      @media (min-width: 992px) {
        section.instagram .insta-follow {
          width: 40%; } }
      @media (min-width: 1200px) {
        section.instagram .insta-follow {
          width: 30%; } }
  section.disclaimer {
    padding: 10rem 0; }
    section.disclaimer h1 {
      color: #1F1F1F; }
  section.footer {
    background-color: #daa796; }
    section.footer .main-footer-menu {
      text-align: center;
      margin: 2rem 0; }
      section.footer .main-footer-menu ul {
        margin: 0; }
        section.footer .main-footer-menu ul li {
          display: inline; }
          section.footer .main-footer-menu ul li a {
            color: #1F1F1F; }
            section.footer .main-footer-menu ul li a:hover {
              color: #acc7dc; }
        section.footer .main-footer-menu ul li + li::before {
          margin-left: 1rem;
          content: "/  "; }
    section.footer .copywrite {
      text-align: center; }

.insta-feed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .insta-feed .insta_section {
    width: 12.5%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* -------------------------------------------------- */
/* -------------------------------------------------- */
