img.flush {
    width: 100%;
    height: auto;
}

.kill-padding {
    padding: 0;
}

.kill-padding-top {
    padding-top: 0;
}

.kill-padding-bottom {
    padding-bottom: 0;
}
.kill-padding-right {
    padding-right: 0;
}
.kill-padding-left {
    padding-left: 0;
}

.kill-margin {
    margin: 0;
}

.kill-margin-top {
    margin-top: 0;
}

.kill-margin-bottom {
    margin-bottom: 0;
}

.pad {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-top {
    padding-top: 1rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.padding-1_5x {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.padding-top-1_5x {
    padding-top: 1.5rem;
}

.padding-bottom-1_5x {
    padding-bottom: 1.5rem;
}

.padding-2x {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-top-2x {
    padding-top: 2rem;
}

.padding-bottom-2x {
    padding-bottom: 2rem;
}

.padding-3x {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.padding-top-3x {
    padding-top: 3rem;
}

.padding-bottom-3x {
    padding-bottom: 3rem;
}

.padding-4x {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.padding-top-4x {
    padding-top: 4rem;
}

.padding-bottom-4x {
    padding-bottom: 4rem;
}

.padding-5x {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.padding-top-5x {
    padding-top: 5rem;
}

.padding-bottom-5x {
    padding-bottom: 5rem;
}

.padding-6x {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.padding-top-6x {
    padding-top: 6rem;
}

.padding-bottom-6x {
    padding-bottom: 6rem;
}

.padding-7x {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.padding-top-7x {
    padding-top: 7rem;
}

.padding-bottom-7x {
    padding-bottom: 7rem;
}

.padding-8x {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.padding-top-8x {
    padding-top: 8rem;
}

.padding-bottom-8x {
    padding-bottom: 8rem;
}

.padding-9x {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.padding-top-9x {
    padding-top: 9rem;
}

.padding-bottom-9x {
    padding-bottom: 9rem;
}

.padding-10x {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.padding-top-10x {
    padding-top: 10rem;
}

.padding-bottom-10x {
    padding-bottom: 10rem;
}

.margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-1_5x {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.margin-top-1_5x {
    margin-top: 1.5rem;
}

.margin-bottom-1_5x {
    margin-bottom: 1.5rem;
}

.margin-2x {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.margin-top-2x {
    margin-top: 2rem;
}

.margin-bottom-2x {
    margin-bottom: 2rem;
}

.margin-3x {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.margin-top-3x {
    margin-top: 3rem;
}

.margin-bottom-3x {
    margin-bottom: 3rem;
}

.margin-4x {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.margin-top-4x {
    margin-top: 4rem;
}

.margin-bottom-4x {
    margin-bottom: 4rem;
}

.margin-6x {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.margin-top-6x {
    margin-top: 6rem;
}

.margin-bottom-6x {
    margin-bottom: 6rem;
}

.margin-7x {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.margin-top-7x {
    margin-top: 7rem;
}

.margin-bottom-7x {
    margin-bottom: 7rem;
}

.margin-8x {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.margin-top-8x {
    margin-top: 8rem;
}

.margin-bottom-8x {
    margin-bottom: 8rem;
}

.margin-9x {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

.margin-top-9x {
    margin-top: 9rem;
}

.margin-bottom-9x {
    margin-bottom: 9rem;
}

.margin-10x {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.margin-top-10x {
    margin-top: 10rem;
}

.margin-bottom-10x {
    margin-bottom: 10rem;
}

.color-inherit {
    color: inherit;
}

.fa + .fa {
    margin-left: 1rem;
}