/* -------------------------------------------------- */
// City Heading
/* -------------------------------------------------- */


//Country Page
    section.top-section{
        background-color:grey;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        background-attachment: fixed;
        height: 70vh;

        .main-heading{
			margin-top:25vh;
			text-align: center;
            line-height:1.4;
            h1{
                font-size:4rem;
                @media(min-width:992px){
                    font-size:7rem;
                } 
            }
            
        }
    }

