/* -------------------------------------------------- */
// Colors
/* -------------------------------------------------- */


$color-bg: white;
$color-text: shade($color-bg, 75);
$contrasted-dark-default: white;
$contrasted-light-default: $color-text;


/* COLOURS */
//original colours
//$main-purple:#6c648b;
//unvisited map color efd2c1
//unvisited rollover bfa99b


//for section - unless declared otherwise
$white-smoke:#F5F5F5;
$main-purple:#A7DBD8;
$heading-color:#1F1F1F;
$paragraph-color:#292929;
$map-green: #6bbaa7;

$footer-dark: #BFBFBF;

$color-map-secondary: #dcc7aa;
$hover-color:#8C8C8C;
$hyperlink-color:#F38630;

$map-primary:#e4af9d;
$map-secondary:#acc7dc;

$border-color:#d6d6d6;

$input-color:#a5bdd0;;