/* -------------------------------------------------- */
// Flickity Custom Styles
/* -------------------------------------------------- */


.blog-carousel {
        margin: 0 auto;
        display: block;
        max-width:100rem;

        .blog-info-wrap {
            text-align: center;
            width: calc(100% - 2%);
            margin-right: 2%;
            background-color: grey;
            

            @media (min-width: 480px) {
                width: calc(50% - 2%);
            }

            @media (min-width: 992px) {
                width: calc(33.33% - 2%);
            }
            
            
            .blog-info-content{
                text-align: center;
                vertical-align: middle;
                // line-height: 250px;
                outline: 1px solid white;
                outline-offset: -15px;
                height:100%;
                display:flex;
                align-items:center;
                justify-content:center;
                -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
                &:hover{
                   outline: 1px solid white;
                outline-offset: -25px; 
                -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
                }

                h3{
                    color:white;
                    z-index: 10;
                    line-height:1.4;
                    margin:0 auto;
                    max-width:85%;
                    background-color:$footer-dark;
                    opacity:0.8;
                    font-weight:600;
                    
                }
                a:hover{
                    text-decoration: none;
                }
            }
            
        }
        


    }
/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: $map-primary;
}
.flickity-prev-next-button.no-svg {
  color: $map-primary;
}
.flickity-prev-next-button.previous{
    left:-100px!important
}
.flickity-prev-next-button.next{
    right:-80px!important
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

