#mapdiv{
    width: 100%;
    height: 80vh;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
.map-wrap{
    font-family: 'Indie Flower', cursive;
    width: 100%;
    height: 65vh;
    background-color:$white-smoke;

    
}




.amcharts-chart-div{
    a{
        display: none!important;
    }
    [aria-label]{
        font-family: 'Indie Flower', cursive;
    }
}

