

.row {
    &.nav {
        ul {
            margin: 1rem 0;
            padding: 0;
            li {
                display: inline;
                line-height: 1;
            }
            li + li {
                margin-left: 1rem;
                padding-left: 1rem;
                border-left: 1px solid;
            }
        }
    }
}
header{

    
    &.navigation {
        background-color: $white-smoke;
        position: fixed;
        // border-bottom:1px solid $footer-dark;
        width: 100%;
        z-index: 10;
        height: 55px;
        border-bottom:1px solid $footer-dark;
        @media(min-width:992px){
            height: 95px;
        }
        .social-nav-wrapper{
            height: 40px;
            position: relative;
            background-color:$map-secondary;         
        }
        .primary-nav{
            padding:1rem;
            display:flex;
            justify-content:space-between;
            align-items:center;


            .nav-heading{
                font-size:2rem;
                padding:0 1rem;
                color:$heading-color;
            }
            .primary-menu{
                // margin-right: -14rem;
            }
            ul {
                    
                    margin: 0;
                    padding: 0;
                    display: none;
                    
                    @media (min-width: 768px) {
                        display: flex;
                    }
                    // flex-direction: row;
                    // align-items: center;
                    // justify-content: center;
                    font-weight: 700;
                    li {
                        a {
                            font-size: 2rem;
                            font-family: 'Indie Flower', cursive;
                            font-weight: 400;
                            // display: flex;
                            // flex-direction: row;
                            // align-items: center;
                            // justify-content: center;
                            padding:0 1rem;
                            color: $heading-color;
                            moz-transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                            &:hover{
                                color:$map-primary;
                                moz-transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                            }
                        }
                    }
            }
            h3{
                a{
                    color: $heading-color;
                    &:hover{
                        color:$map-primary;
                    }
                }
            }
        }
        .social-media{
            position:relative;
            margin:0 auto;
            padding:0;
            display:inline-block;
            @media(min-width:992px){

                margin:0;
                display:block;
                float:right;
            }
            .icons{
                display:flex;
                align-items:center;
                justify-content:space-between;
                margin-right:2rem;
                a i{
                    padding:1rem 0;
                    margin-left:1rem;
                    font-size:20px;
                    color:$heading-color;
                    moz-transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                    &:hover{
                       color:$map-secondary; 
                       moz-transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                        @media(min-width:992px){
                            color:$map-primary; 
                        }
                    }
                }
            }
        }




        /* mobile */
        .overlay {
            height: 100vh;
            width: 0;
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            background-color:$map-primary;
            opacity:0.95;
            overflow-x: hidden;
            transition: 0.5s;

            .overlay-content {
                position: relative;
                top: 5%;
                width: 100%;
                text-align: center;
                margin-top: 30px;
                ul li a {
                    color: $heading-color;
                    &:hover{
                                color:$map-secondary;
                            }
                }   

            }
            a{
                padding: 8px;
                text-decoration: none;
                font-size: 36px;
                color: #818181;
                display: block;
                transition: 0.3s;
                    
            }
            .closebtn {
                position: absolute;
                top: -11px;
                left: 12px;
                font-size: 40px;
                padding:0;
                color:$heading-color;
                &:hover, &:focus{
                    cursor:pointer;
                    color:$map-secondary
                    
                }
            }

        }
        .mobile-menu-wrap{
            display:flex;
            justify-content:space-between;
            align-items:center;
            .menu-burger{
                padding-left:1rem;
                color:$heading-color;
                &:hover, &:focus{
                    cursor:pointer;
                    color:$map-primary
                }
            }
            .nav-heading a{
                padding-right:1rem;
                color:$heading-color;
                &:hover, &:focus{
                    cursor:pointer;
                    color:$map-primary
                }
            }    
        }
        
    }
    
    
    &.headroom--unpinned {
        transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: translateY(-90%);
        transition-delay: 0.2s;
        background-color:transparent;
        transition: $footer-dark .5s ease-in-out;
        border-bottom:1px solid transparent;
        
    }

    &.headroom--pinned {
        transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: translateY(0%);
        background-color: transparent;
        opacity: 0.9;
        background-color:$white-smoke;
        
        &:hover, &:focus{
            opacity: 1;
        }
    }
}