* {
    -webkit-font-smoothing: antialiased;
}

/* -------------------------------------------------- */
// Typekit FOUT
/* -------------------------------------------------- */

.wf-loading {
    opacity: 0;
    transition: opacity 125ms;
}

.wf-active {
    opacity: 1;
    transition: opacity 125ms;
}

.wf-inactive {
    opacity: 1;
    transition: opacity 125ms;
}

/* -------------------------------------------------- */
// Font Families
/* -------------------------------------------------- */


/* -------------------------------------------------- */
// Text Highlighting
/* -------------------------------------------------- */
::-moz-selection {
    @include contrasted($color-text);
}

::selection {
    @include contrasted($color-text);
}

/* -------------------------------------------------- */
// Links in general
/* -------------------------------------------------- */



/* -------------------------------------------------- */
// REM Setup
/* -------------------------------------------------- */

html {
    font-size: 10px;
    line-height: 1.75;
}

body {
    font-size: 1.6rem;
    line-height: inherit;
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/* -------------------------------------------------- */
.page-title {
    font-size: 6rem;
    line-height: 1;
}


li{
    font-family: 'Indie Flower', cursive;
}

h1 {
    font-size: 7rem;
    font-family: 'Indie Flower', cursive;
    color: white;
    line-height:1.4;
}

h2 {
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;
    color: $heading-color;
    line-height:1.4;
}

h3 {
    font-size: 2.3rem;
    font-family: 'Indie Flower', cursive;
    color: $paragraph-color;
    
}

h4 {
    font-size: 2.5rem;
    font-family: 'Indie Flower', cursive;
    color: $heading-color;
    line-height:1.4;
}

h5 {
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    color: $heading-color;
    line-height:1.4;
}

h6 {
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    color: $heading-color;
    line-height:1.4;
}
p{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: $paragraph-color;
    line-height: 1.2;
}
a{
    text-decoration: none;
}

/* -------------------------------------------------- */
// Weights
/* -------------------------------------------------- */

body {
    font-weight: 300;
}

.page-title {
    font-weight: 900;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
}

h5 {
    font-weight: 400;
}

h6 {
    font-weight: 400;
}
p{
    font-weight: 300;
}

/* -------------------------------------------------- */
// Spacing
/* -------------------------------------------------- */
.page-title {
    margin-bottom: 1em;
}

ul, ol {
    margin-bottom: 2em;
}

p {
    & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
        margin-top: 3rem;
    }
}

p + p {
    margin-top: 1em;
}

/* -------------------------------------------------- */
// Horizontal Rules
/* -------------------------------------------------- */

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
:hover{
    text-decoration:none!important;
}