//Filter buttons
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        color: $heading-color;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        border-radius: 0;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 100%;
        z-index: -1;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: $heading-color;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 450%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        color: $heading-color;
        border-radius: 0;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
    a.animated-button.filter-button {
        border: 2px solid $map-primary;
        padding: 1rem 2rem;
        margin:0 1rem;
        font-size:1.8rem;
        line-height: 1.2;
        font-weight:300;
    @media(min-width:768px){
            padding: 1rem 1rem;
        }
        @media(min-width:992px){
            padding: 1rem 2rem;
        }
    }
    a.animated-button.filter-button:after {
        background: $map-primary;
        opacity: .5;
        -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
    a.animated-button.filter-button:hover:after {
        opacity: 1;
        height: 600% !important;
    }

//View all Blogs buttons
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        color: $heading-color;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        border-radius: 0;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 100%;
        z-index: -1;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: $heading-color;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 450%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        color: $heading-color;
        border-radius: 0;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
    a.animated-button.all-blogs {
        border: 2px solid $map-primary;
        padding: 1rem 2rem;
        margin:0 1rem;
        font-size:2rem;
        font-family: 'Indie Flower', cursive;
        line-height: 1.2;
        font-weight:300;
        @media(min-width:768px){
            padding: 1rem 1rem;
        }
        @media(min-width:992px){
            padding: 1rem 2rem;
        }
    }
    a.animated-button.all-blogs:after {
        background: $map-primary;
        opacity: .5;
        width:100%;
        -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
    a.animated-button.all-blogs:hover:after {
        opacity: 1;
        height: 1000% !important;
    }


//Instagram button
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        color: $heading-color;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        border-radius: 0;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 100%;
        z-index: -1;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: $heading-color;
        text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
        height: 450%;
    }
    a.animated-button:link, a.animated-button:visited {
        position: relative;
        display: block;
        color: $heading-color;
        border-radius: 0;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
    a.animated-button.insta-button {
        border: 2px solid $map-secondary;
        padding: 1rem 2rem;
        margin:0 1rem;
        font-size:3rem;
        font-family: 'Indie Flower', cursive;
        line-height: 1.2;
        font-weight:300;
        @media(min-width:768px){
            padding: 1rem 1rem;
        }
        @media(min-width:992px){
            padding: 1rem 2rem;
        }
    }
    a.animated-button.insta-button:after {
        background: $map-secondary;
        opacity: .5;
        width:100%;
        -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
    a.animated-button.insta-button:hover:after {
        opacity: 1;
        height: 1000% !important;
    }