@import "reset";
@import "functions";
@import "mixins/family";

@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";

@import "color";
@import "base";
@import "typography";
@import "navs";

@import "plugins/flickity";

@import "city-title-section";
@import "flickity-custom-styles";
@import "maps";
@import "buttons";










/* -------------------------------------------------- */
// Body and Wraps
/* -------------------------------------------------- */
@media (min-width: 1500px) {
    .container {
        width: 1470px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
   background-color:$white-smoke;
}
.home{
    margin-bottom:0!important;
}

section + section{
    padding-bottom:4rem;
}

/*
----------------------
 double line headings
 --------------------- */
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid $heading-color;
  border-top: 1px solid $heading-color;
  top: 5px;
  width: 100%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

/* 
------------------------
hr edits for dividers
------------------------
 */
hr{
    border-top: 1px solid $paragraph-color;
    width: 30%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* 
-------------------------
back to top styles 
-------------------------*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 2; /* Make sure it does not overlap */
    border: transparent;
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1.5rem 2rem; /* Some padding */
    width:50px;
    height:50px;
     moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity:0.8;
    
    i{
        font-size:22px;
        color: $map-secondary;
        position:absolute;
        left:13px;
        bottom:13px;
        moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
}

#myBtn:hover {

     moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    i{
        font-size:22px;
        color: $map-primary;
        position:absolute;
        left:13px;
        bottom:20px;
        moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
}

img{
    outline: 1px solid white;
    outline-offset: -15px;
    border:5px solid $border-color;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}

/*---------------------------------------------------
 Social Share Styling 
-------------------------------------------------- */
.social-share-wrapper{
    position: fixed;
    height: 100%;
    left: 5px;
    top: 70%;
    z-index:10;
    a i{
    font-size: 20px;
    margin: 1rem 0 0 0.5rem;
    background: $map-secondary;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    padding: 10px;
    color:$heading-color;
    moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    a i:hover{
        color:$map-primary;
        moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    
}
.social-share-wrapper-mobile{
    padding:2rem 0 4rem 1rem;
    a i{
    font-size: 20px;
    margin: 1rem 0 0 0.5rem;
    background: $map-secondary;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    padding: 10px;
    color:$heading-color;
    z-index:2;
    moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    a i:hover{
        color:$map-primary;
        moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }


}


/*------------------------------------------------------
 Appear on scroll
 -----------------------------------------------------*/
 .hideme{
    opacity:0;
 }

 /*----------------------------------------------------
 Disqus comments
 ----------------------------------------------------*/
 #disqus_thread{
    width: 70%;
    display: block;
    margin: 4rem auto;
    background-color:$map-secondary;
    padding: 2rem;
    
 }



section {
    /*-----------------------------------
     Front Page 
     -------------------------------------*/
    &.map-section{
        padding-top:10rem;
        background-color:$white-smoke;
        .scroll-down{
            text-align:center;
            height:100%;

            a{
                animation: fadein 5s;
                -moz-animation: fadein 5s; /* Firefox */
                -webkit-animation: fadein 5s; /* Safari and Chrome */
                -o-animation: fadein 5s; /* Opera */
                color:$heading-color;
                font-size:25px;
                &:hover, &:active, &:visited, &:focus{
                    text-decoration:none!important;
                }
                &:hover{
                    color:$map-primary;    
                }

                
                

            }
        }
        .bounce {
          -moz-animation: bounce 2s infinite;
          -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
        }

        @keyframes bounce {
          0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
          }
          40% {
            transform: translateY(-30px);
          }
          60% {
            transform: translateY(-15px);
          }
        }
        
    }
    &.front-page-main{
        padding: 0 0 6rem 0;
        background-color:$white-smoke;

        
        //Most recent blogs styling
        .city-blog-image-fp{
            margin-bottom:3rem;
            .blog-info-wrap-grid-fp{
                // margin-bottom:4rem; 
                width:calc(100%);
                @media (min-width: 480px) {
                    width: calc(100% - 2%);
                }

                @media (min-width: 992px) {
                    width: calc(50% - 2%);
                }
                @media(min-width:1200px){
                    width: calc(50% - 2%);
                }
                .blog-image-single-fp{
                    img{
                        border:none;
                        box-shadow:none;
                    }

                }
                .city-blog-content-fp{
                    border:1px solid #D6D6D6;
                    padding:2rem 1rem;
                    a h3{
                        &:hover{
                            color:$map-primary;
          
                        }
                    }
                    h3{
                        text-align:center;
                        
                        line-height:1.4;
                        padding-bottom:1rem;
                    }
                    .text{
                        p{
                            font-size:1.4rem;
                            font-weight:400;
                            padding: 1rem 0 2rem 0;

                        }
                        
                    }
                    .city-blog-extras-fp{
                        p{
                            font-style:italic;
                            color:$footer-dark;
                        }
                    }

                }
            }
            
        }
        
        .main-image-us-fp{
            margin: 3rem 0;
            img{
                display: block;
                margin:0 auto;
                width: 70%;
                outline: 1px solid white;
            outline-offset: -15px;
            border:5px solid $border-color;
            -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
            -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
            box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
            }
            
        }
        .content-us-fp{
            
            width: 100%;
            margin: 2rem auto 0 auto;
            @media(min-width:768px){
                width: 90%;
            }
            h2{
                margin-bottom:1rem;
                text-align: center;
            }
            .text-content{
                margin-top:4rem;
                width:100%;
                text-align:center;
            }
        }
        .stats-section{
            position:relative;
            display:block;
            text-align:center;

            h3{
                font-size:3rem;
                padding-top:1rem;
                font-family: 'Roboto', sans-serif;
                font-weight:300;
            }
            i{
                font-size:10rem;
                padding-top:4rem;

            }
            span{
                color:$map-primary;
            }
            .spacing{
                padding-bottom:4rem;
            }
            .where-moldova-text{
                font-size:2rem;
                color:$map-primary;
                
            }
            .follow-us{
                padding-top:4rem;
                a{
                    font-size:5rem;
                    color:$heading-color;
                    moz-transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                    &:hover{
                        color:$map-primary;
                        moz-transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                    }
                }
                a+a{
                    padding:3rem 0 0 3rem;
                }

            }
        }
  
    }
    &.front-page-view-all{
        .view-all-blogs{
            width:100%;
            margin:4rem auto 0 auto;
            @media(min-width:768px){
                width:50%;
            }
            @media(min-width:992px){
                width:20%
            }
        }
    }
    
    /* End Front Page */


    
    /* --------------------------------------------------
    About Us 
    ----------------------------------------------------*/
    &.about-section{
        padding:12rem 0 4rem 0;
        position:relative;
        height:100%;
        .about-section-one-wrapper{
            background-color:$map-secondary;
            height: 100%;
            position: relative;
            @media(min-width:992px){
                height: 400px;
            }
            .about-section-one-text{
                width: 100%;
                padding:1rem;
                @media(min-width:992px){
                    width: 80%;
                    padding:4rem;
                }
            }
            .about-section-one-image{
                z-index:1;
                margin-top:0;
                margin-right:0;
                padding:0;
                @media(min-width:992px){
                    margin-top:-2rem;
                    margin-right:2rem;
                    
                }
            }
        }
        .about-section-two-wrapper{
            background-color:$map-primary;
            z-index:-1;
            margin-top:0;
            @media(min-width:992px){
                margin-top:5rem;
            }

            .about-section-two-text{
                width: 100%;
                padding:1rem;
                @media(min-width:992px){
                    width: 80%;
                    padding:4rem;
                }
            }
        }
        .about-section-three-wrapper{
            height:100%;
            position:relative;

            .about-section-three-image-one{
                margin-top:1rem;
                @media(min-width:992px){
                    margin-top:4rem;
                }
            }
            .about-section-three-image-two{
                margin-top:1rem;
                @media(min-width:992px){
                    margin-top:-4rem;
                }
            }
        }
        .about-section-four-wrapper{
            height:100%;
            background-color:$map-secondary;
            z-index:-1;
            position:relative;
            @media(min-width:992px){
                height:400px;
            }
            .about-section-four-image{
                z-index:1;
                margin-top: 1rem;
                margin-left:0;
                @media(min-width:992px){
                    margin-top: -1rem;
                    margin-left: 4rem;
                }
                
            }
            .about-section-four-text{
                padding:1rem;
                @media(min-width:992px){
                    padding: 10rem 4rem 0 4rem;    
                }
                
            }
        }
        .about-section-five-wrapper{
            background-color:$map-primary;
            height:100%;
            z-index:-2;
            position:relative;
            margin-top:0;
            @media(min-width:992px){
                margin-top:5rem;
            }
            .about-section-five-text-one, .about-section-five-text-two{
                padding:1rem;
                @media(min-width:992px){
                    padding:4rem;
                }
            }
            .about-section-five-image-one, .about-section-five-image-two, .about-section-five-image-three{
                padding-top:1rem;
                @media(min-width:992px){
                    padding-top:0;
                }
            }
        }
        .about-section-six-wrapper{
            position:relative;
            margin-top:2rem;
            .about-section-six-image{
                margin-top:1rem;
                @media (min-width: 922px) {
                    margin-top:-4rem
                }
            }
            .about-section-six-text{
                position: absolute;
                top: 10%;
                width: 30%;
                left: 10%;
                background-color: $map-secondary;
                opacity: 0.85;
                padding: 3rem;
                outline: 1px solid $map-primary;
                outline-offset: -15px; 
            }
            .about-section-six-text-two{
                padding:2rem 1rem 2rem 1rem;
                @media (min-width: 922px) {
                    padding:4rem;
                }

            }
            .about-section-six-text-alt{
                padding:2rem 1rem 2rem 1rem;
                

            }
        }
        .about-section-seven-wrapper{
            position:relative;
            background-color:$map-secondary;
            margin-top:1rem;;
            z-index:-1;
            @media (min-width: 992px) {
                margin-top:-4rem;
            }
            .about-section-seven-text{
                position:relative;
                padding:1rem;
                @media (min-width: 992px) {
                    padding:4rem;
                    
                    
                }
            }
            .about-section-seven-image{
                @media (min-width: 992px) {
                    width:70%;
                    display:block;
                    margin:0 auto;
                    z-index:1;
                    img{
                        border:15px solid $map-primary;
                    }
                }
                .text{
                    position: relative;
                    width: 30%;
                    text-align:center;
                    background-color: $map-secondary;
                    opacity: 0.8;
                    display:block;
                    margin:0 auto;
                    margin-top:-10rem;
                    
                }

            }
        }
        .about-section-eight-wrapper{
            background-color:$map-primary;
            height: 100%;
            margin: 0 auto;
            position: relative;
            @media(min-width:992px){
                height: 400px;
                margin:5rem 0 0 0;
            }
            .about-section-eight-text{
                width: 100%;
                padding:1rem;
                @media(min-width:992px){
                    width: 80%;
                    padding:4rem;
                }
            }
            .about-section-eight-image{
                z-index:1;
                margin-top:0;
                margin-right:0;
                padding:0;
                @media(min-width:992px){
                    margin-top:-2rem;
                    margin-right:2rem;
                }
            }
        }
    }


    //City sections for Country Template
    &.introduction{
        margin-top:4rem;
        .city-wrap{
            border:1px solid $border-color;
            padding:2rem;
            h2{
                padding-bottom:2rem;
            }
            .cities{
                display:flex;
                align-items:center;
                a h4{
                    margin-left:2rem;
                    color:$heading-color;
                    font-family: 'Indie Flower', cursive;
                    font-weight:300;
                    &:hover, &:focus{
                        text-decoration: none;
                        color:$map-primary;
                    }
                }
                i{
                    font-size:2rem;
                }              
            }
 
    
        }
        
        .fa + .fa {
            margin:0;

        }
    }        


    &.city{
        .city-content{
            margin-bottom:4rem;
        }
    }
    &.country-blog{
        padding:4rem 0 6rem 0;

    }



    //Main Blog Page
    &.blog-main-section{
        // background-color:$white-smoke;
        // .filter-test{
        //     display:flex;
        //     align-items:center;
        //     justify-content:center;
               
        // }
        .filter-wrap{
            
            list-style-type: none;
            text-align:center;
            @media(min-width:768px){
                text-align:center;
                display: flex;
                justify-content: center;
                
            }
            @media(min-width:992px){
                
                max-width: 90%;
                margin: 4rem auto 4rem auto;    
            }
            li{
               @media(max-width:992px){
                padding-bottom:2rem;
                padding-top:2rem;

               }    
                
            }

           

        }
        .city-blog-image-fp{
            margin-bottom:3rem;
            .blog-info-wrap-grid-fp{
                // margin-bottom:4rem; 
                width:calc(100%);
                @media (min-width: 480px) {
                    width: calc(100% - 2%);
                }

                @media (min-width: 992px) {
                    width: calc(50% - 2%);
                }
                @media(min-width:1200px){
                    width: calc(33.333% - 2%);
                }
                .blog-image-single-fp{
                        img{
                            border:none;
                            box-shadow:none;
                        }
                    }
                .city-blog-content-fp{
                    border:1px solid #D6D6D6;
                    padding:2rem 1rem;
                    a h3{
                        &:hover{
                            color:$map-primary;
          
                        }
                    }
                    h3{
                        text-align:center;
                        
                        line-height:1.4;
                        padding-bottom:1rem;
                    }
                    .text{
                        p{
                            font-size:1.4rem;
                            font-weight:400;
                            padding: 1rem 0 2rem 0;

                        }
                        
                    }
                    .city-blog-extras-fp{
                        p{
                            font-style:italic;
                            color:$footer-dark;
                        }
                    }

                }
            }
            
        }

    }
    

    //Single Blog post
    &.blog-page{
        height: 70vh;

        .main-heading{
            margin-top:25vh;
            text-align: center;
        }
    }
    &.blog-content{
        .extra{
            margin:4rem 0 2rem 2rem;
            h4{
                

            }
        }
        .content-wrap{

            display: block;
            margin:0 auto;
            max-width:90%;

            p{
                b{
                    font-weight: 600;
                    color: $map-primary;
                    
                }
                em{
                    font-style: italic;
                }
                strong{
                    font-weight: 600;
                    color: $map-primary;
                }
            }
            img{
                display: block;
                margin:0 auto;
            }
        }
        .save-pinterest{
            h2{
                text-align:center;
                padding-bottom:2rem;
            }
            .pinterest-image{
                img{
                    margin:0 auto;
                    display:block;
                }
            }
        }
    }
    &.country-blog{
        
       h2 {
        text-decoration: none;
        text-align:center;
        margin-bottom:4rem;
        
        a{
            color:$heading-color;
            moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;  
            &:hover{
                color:$map-primary;
                moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;    
            }
            
        } 
       }
       
    }

    //Destinations Page
    &.destinations{
        .destination-wrap{
            margin-top:6rem;
            border:1px solid $border-color;
            padding:2rem;
            .destination-accordion{
                padding-top:4rem;
                .destination-block{

                    .destination-header{
                        display:flex;
                        align-items:center;
                        padding-bottom:1rem;
                        a h4{
                            margin-left:2rem;
                            color:$heading-color;
                            font-family: 'Indie Flower', cursive;
                            font-weight:300;
                            &:hover, &:focus{
                                text-decoration: none;
                                color:$map-primary;
                            }
                        }
                        i{
                            font-size:2rem;
                        }
                    }
                    .countries{
                        margin-left:4rem;
                    }
                }
            }    
        }
        
        .fa + .fa {
            margin:0;

        }
    }
    /* Contact Page */
    &.contact-form-section{
        position:relative;
        height:100%;
        margin:4rem 0;
        .contact-form-wrapper{
            background: $map-secondary;
            padding: 2rem;
            display: table;
            width: 100%;
            position: relative;
            margin: 0 auto;
            .contact-text{
                padding-bottom:1rem;
                @media(min-width:1200px){
                   padding-bottom:2rem; 
                }
                

            }   
            .contact-image{
                width:100%;
                position:relative;
                padding-bottom:4rem;
                @media (min-width:1200px){
                    width:85%;
                    padding-bottom:0;
                }
            } 
            form{
                width:100%;
                @media(min-width:1200px){
                   width:80%; 
                }
                label{
                    width:100%;
                }
                .wpcf7-text, .wpcf7-textarea{
                    padding:1rem;
                    width:100%;
                    background-color:$white-smoke;
                    outline:none;
                    border:none;
                }
                .wpcf7-submit{
                    width:100%;
                    float:right;
                    padding:2rem 1rem;
                    background-color:$map-primary;
                    outline:1px solid white;
                    outline-offset:-5px;
                    border:white;
                    display: block;
                    moz-transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                    @media(min-width:1200px){
                    width:50%;

                    &:hover{
                        outline:1px solid white;
                        outline-offset:-10px;
                        moz-transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }

    /* Instagram section */
    &.instagram {
        
        padding: 3rem 0;
        background-color: $map-primary;
        text-align: center;
        height: 100%;
        position:relative;
        z-index:1;
        
        .insta-follow{
            width:100%;
            margin:4rem auto 0 auto;
            @media(min-width:768px){
                width:60%;
            }
            @media(min-width:992px){
                width:40%
            }
            @media(min-width:1200px){
                width:30%
            }
        
        }
        
    }
    
    &.disclaimer{
        padding:10rem 0;
        h1{
            color:$heading-color;
        }
    }

    
    &.footer {
       background-color:#daa796;
        .main-footer-menu{
            text-align:center;
            margin:2rem 0;
            ul{
                margin:0;
                li{
                    display:inline;
                    a{
                       color:$heading-color;
                       &:hover{
                        color:$map-secondary;
                       } 
                    }
                    

                }
                li + li::before {
                    margin-left:1rem;
                    content: "/  ";
                    
                }
                
            }
        }
        .copywrite{
            text-align:center;
        }
    }
}
//insta JS edits.insta_section {
    .insta-feed{
        display:flex;
        .insta_section{
            width:12.5%;
            height:150px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }    
    }
    

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* -------------------------------------------------- */
// Main Structure
/* -------------------------------------------------- */